.searchPage {
  padding: 2rem;
  background-color: #f9f9f9;
  width: 100%;

  &__filter {
    display: flex;
    color: #606060;
    align-items: center;
    font-size: xx-small !important;
    margin: 1rem;

    h2 {
      margin-left: 1rem;
      text-transform: uppercase;
      margin-top: -.2rem;
    }
  }

  hr {
    height: 1px;
    background-color: lightgray;
    margin: 1rem 0;
    border: 0;
  }
}

.channelRow {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  
  &__text {
    display: flex;
    flex-direction: column;

    p {
      color: #606060;
      font-size: small !important;
    }

    h4 {
      margin-bottom: .5rem;
    }
  }

  &__logo {
    width: 12rem !important;
    height: 12rem !important;
    margin: 1rem 5vw;

    @media only screen and (max-width: 31.25em) {
      width: 10rem !important;
      height: 10rem !important;
    }
  }
}

.videoRow {
  display: flex;
  margin-top: 3rem;
  font-size: 1.4rem;
  margin-left: 1rem;

  img {
    object-fit: contain;
    width: 240px;
    height: 138px;
  }

  &__info {
    margin-left: 1.4rem;
  }

  &__headline,
  &__description {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #606060;
  }

  &__description {
    margin-top: 1.2rem;
  }

  &__subsNum {
    font-weight: bolder;
    color: rgb(84, 157, 211);
  }

  &__subs {
    padding: .2rem;
    background-color: lightgray;
  }
}